<!--The content below is only a placeholder and can be replaced.-->
<div class="row" style=" margin:0px">
    <img width="300" src="http://paizo.com/starfinder/logo.png" class="col s3">
    <div class="col s3 offset-s6">
      <ul>
        <li style="display:inline-block">Hello, {{username}} | </li>
        <li style="display:inline-block"><a href="signin">Sign In</a> | </li>
        <li style="display:inline-block"><a href="account">My Account</a> | </li>
        <li style="display:inline-block"><a href="cart">Shopping Cart</a> | </li>
        <li style="display:inline-block"><a href="faq">Help/FAQ</a></li>
      </ul>
    </div>
</div>
<div class="row" style="margin:0px">
  <ul class="col s3 left hide-on-small-and-down" style="margin:0px">
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">StarFinder Roleplaying Game<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Rules Archive SRD</a></li>
              <li><a href="#!">Beginner Box</a></li>
              <li><a href="#!">Core Rulebook</a></li>
              <li><a href="#!">Free Downloads</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Adventures<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Adventure Path</a></li>
              <li><a href="#!">Modules</a></li>
              <li><a href="#!">Scenarios</a></li>
              <li><a href="#!">Adventure Finder</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Campaign Setting<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Starfinder Pact Worlds</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Player Companion</a>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Accessories<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Combat Pad</a></li>
              <li><a href="#!">GM Screens</a></li>
              <li><a href="#!">Maps</a></li>
              <li><a href="#!">Cards</a></li>
              <li><a href="#!">Pawns</a></li>
              <li><a href="#!">Apps</a></li>
              <li><a href="#!">Dice</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Miniatures<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Prepainted Plastic</a></li>
              <li><a href="#!">Metal</a></li>
              <li><a href="#!">Pawns</a></li>
              <li><a href="#!">Paper Minis</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Fiction<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">Novels</a></li>
              <li><a href="#!">Web Fiction</a></li>
              <li><a href="#!">Comics</a></li>
              <li><a href="#!">Audio Dramas</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">StarFinder Society<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">About Organized Play</a></li>
              <li><a href="#!">Register Your Character</a></li>
              <li><a href="#!">Campaign Rules</a></li>
              <li><a href="#!">Factions</a></li>
              <li><a href="#!">Scenarios</a></li>
              <li><a href="#!">Regional Coordinators</a></li>
              <li><a href="#!">Event Finder</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header">Apparel & Gifts<i class="material-icons">arrow_drop_down</i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#!">T-Shirts</a></li>
              <li><a href="#!">Bottle Openers</a></li>
              <li><a href="#!">Koozies</a></li>
              <li><a href="#!">Lanyards</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <div class="col s9" style="background:purple">
    <router-outlet></router-outlet>
  </div>
</div>
